<%- include("./header.ejs") %> 

  <body>
    <div class="container " >
      <%- include("./topBar.ejs") %> 

    <div id="main">
        <form action="/changePassword" method="post">
            <label >User ID</label>
            <input name="PartyCode" type="text" class="form-control" required>
            <label >Previous Password</label>
            <input name="prePassword" type="password" class="form-control" required>
            <label >New Password</label>
            <input name="newPassword" type="password" class="form-control" required>
            <button class="btn btn-secondary mt-2">Change Password</button>
            <h5 id="error" style="text-align: center;color:red">Wrong Credentials</h5>
        </form>
    </div>
    </div>
  </body>
  <script>
    document.getElementById("error").style.display = '<%=error%>'
  </script>
</html>