<%- include("./header.ejs") %> 
<body>
    <div class="container">
        <%- include("./topBar.ejs") %>
        <div id="popup">
            <p style="text-align: center;margin-top: 10%;">Information Saved Successfully</p>
            <button id="btn" class="btn btn-secondary" onclick="reload()" style="position: relative;left: 40%;margin-top: 8%;">Close</button>
        </div>
        <div id="main" class="mt-5">
        <form action="/register" method="post">
            <label >User Name</label>
            <input name="userName" type="text" class="form-control" required>
            <label >User ID</label>
            <input name="PartyCode" type="text" class="form-control" required>
            <label >Email</label>
            <input name="email" type="email" class="form-control" required>
            <label >Password</label>
            <input name="password" type="password" class="form-control" required>
            <label >Mobile No.</label>
            <input name="mobileNo" type="tel" class="form-control" required>
            <label >Date Of Birth</label>
            <input name="dateOfBirth" type="date" class="form-control" required>
            <label >PAN No.</label>
            <input name="panNo" type="text" class="form-control" required>
            <button class="btn btn-secondary mt-2">Register</button>
        </form>
        </div>
    </div>
</body>
<script>
    document.getElementById("popup").style.display = "<%=popup%>"
    const reload=()=>{
        document.getElementById("popup").style.display = "none"
    }
</script>
</html>