<%- include("./header.ejs") %> 
<body>
    <div class="container">
        <div id="main" class="mt-5">
            <label >User Name</label>
            <input name="userName" type="text" class="form-control" required>
            <label >User ID</label>
            <input name="userId" type="text" class="form-control" required>
            <label >Email</label>
            <input name="email" type="email" class="form-control" required>
            <label >Password</label>
            <input name="userName" type="password" class="form-control" required>
            <label >Mobile No.</label>
            <input name="mobileNo" type="tel" class="form-control" required>
            <label >Date Of Birth</label>
            <input name="dateOfBirth" type="date" class="form-control" required>
            <label >PAN No.</label>
            <input name="panNo" type="text" class="form-control" required>
            <button class="btn btn-secondary mt-2">Register</button>
        </div>
    </div>
</body>
</html>