<div id="topBar">
    <div class="d-flex">
      <a href="/upload" class="btn btn-outline-dark m-2">Home</a>
      <a href="/register" class="btn btn-outline-dark m-2">Add New User</a>
    </div>
  </div>